body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items:center;
}

#frm {
    position:absolute;
    left:250px;
    background-color: bisque;
    padding: 80px 140px;
    text-align: center;
    border-radius: 30px;
}
#lname,#lemail,#lpass,#ldob{
    position: relative;
    left:-120px;
    top:37px;
}
#terms{
    position: relative;
    left:0px;
    top:20px;
    cursor: pointer;
}
#lterms{
    position: relative;
    left:0px;
    top:18px;
    cursor: pointer;
}
#name,#email,#password,#dob{
    position: relative;
    left:60px;
}
#submit{
    position:relative;
    top:20px;
    background-color: rgb(90, 141, 234);
    color: aliceblue;
    font-size: medium;
    padding:10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
#userTable{
    position: absolute;
    top:170px;
    right:100px;
}
#submit:hover {
    background-color: #2441b5;
}
